@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merriweather+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  scroll-behavior: smooth;
}

.home {
  display: none;
}

.navbar {
  margin: 0px;
  padding: 0px;
  width: 70%;
  overflow: hidden;
  background-color: black;
  height: 45px;
  -webkit-animation: 1s all ease-in-out forwards;
          animation: 1s all ease-in-out forwards;
}

.navbar .right {
  float: left;
  padding: 20px;
}

.navbar .right a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navbar .left {
  float: right;
  padding: 20px;
}

.navbar .left a {
  margin: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.container {
  height: 100vh;
}

.container .info {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  width: 100%;
  place-items: center;
}

.container .info .detail {
  margin-top: 80px;
  pointer-events: none;
}

.container .info .detail h1 {
  font-size: 60px;
  text-decoration: underline;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-animation: 1s slideIn ease-in-out forwards;
          animation: 1s slideIn ease-in-out forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-family: "Heebo", sans-serif;
}

.container .info .detail p {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-animation: 1.5s Updown ease-in-out forwards;
          animation: 1.5s Updown ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
  color: white;
  font-family: "Bree Serif", serif;
}

.container .info .detail ul {
  list-style-type: none;
  text-align: center;
  margin: 5px;
}

.container .info .detail ul li {
  display: inline;
  margin: 5px;
  font-size: 20px;
  color: white;
  font-family: "Prompt", sans-serif;
}

.container .info .detail ul #web {
  -webkit-animation: 1.8s listdes ease-in-out forwards;
          animation: 1.8s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #divider {
  -webkit-animation: 2.3s divdes ease-in-out forwards;
          animation: 2.3s divdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #mobile {
  -webkit-animation: 2.1s listdes ease-in-out forwards;
          animation: 2.1s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail .btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .info .detail .btn .projects {
  margin: 10px;
  height: 42px;
  width: 120px;
  border-radius: 10px;
  border: solid transparent;
  background-color: #6cd8ce;
  color: black;
  font-size: 20px;
  cursor: pointer;
  -webkit-animation: 2.3s Btnupdown ease-in-out forwards;
          animation: 2.3s Btnupdown ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@-webkit-keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.container .downarrow {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .downarrow p {
  color: white;
  opacity: 0;
  -webkit-animation: 2.2s arrow ease-in-out infinite;
          animation: 2.2s arrow ease-in-out infinite;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.intro {
  height: 15vh;
  width: 58%;
  margin-top: -150px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Prompt", sans-serif;
  -webkit-animation: 3s slideIn ease-in-out forwards;
          animation: 3s slideIn ease-in-out forwards;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

.skilltoolcontainer {
  background-color: white;
  height: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

.skilltoolcontainer .skills img {
  width: 70px;
  height: 70px;
}

.skilltoolcontainer .skills #skill {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
}

.skilltoolcontainer .skills .programing {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px #e6e6e6;
          box-shadow: 0px 0px 10px #e6e6e6;
  padding: 20px;
}

.skilltoolcontainer .skills .programing .head {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.skilltoolcontainer .skills .programing ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  list-style-type: none;
  place-items: center;
}

.skilltoolcontainer .skills .programing ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.skilltoolcontainer .skills .programing ul li img {
  width: 25%;
  height: 25%;
  margin-bottom: 5px;
}

.experience {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience p {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: "Heebo", sans-serif;
}

.experience #experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  place-items: center;
}

.experience #experience .card {
  width: 800px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.experience #experience .card img {
  width: 100px;
  margin: 10px;
}

.experience #experience .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.experience #experience .card .info .info_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.experience #experience .card .info .role {
  color: black;
  font-size: 20px;
}

.experience #experience .card .info .company {
  margin-top: -20px;
  color: grey;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.experience #experience .card .info .date {
  color: grey;
  font-size: 16px;
}

.experience #experience .card .info .loc {
  margin-top: -20px;
  color: grey;
  font-size: 16px;
}

.experience #experience .card .info .desc {
  margin-top: -10px;
  font-size: 18px;
  color: black;
  text-align: start;
  font-family: "Nunito", sans-serif;
}

.projects {
  height: 100%;
  background-color: black;
}

.projects p {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: "Heebo", sans-serif;
}

.projects .projectlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}

.projects .projectlist .card1 {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.projects .projectlist .card1 .stack {
  margin-left: 10px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projectlist .card1 .stack svg {
  margin-left: 10px;
  margin-right: 10px;
}

.projects .projectlist .card1 .stack #title {
  font-size: 18px;
  color: black;
  text-align: center;
}

.projects .projectlist .card1 .info {
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
}

.projects .projectlist .card1 .info p {
  color: #444141;
  display: block;
  text-align: start;
  display: -webkit-box;
  max-width: 100%;
  height: 22px;
  font-size: 16px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects .projectlist .card1 .footer1 {
  margin-left: 20px;
  margin-top: 20px;
}

.projects .projectlist .card1 .footer1 a {
  text-decoration: none;
  font-size: 17px;
  color: #7a7275;
  width: 90px;
  border-radius: 10px;
}

.projects .projectlist .card1 .footer1 a img {
  width: 90px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.projects .more {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

.projects .more a {
  height: 40px;
  width: 120px;
  margin: 10px;
  background-color: #079fb1;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-family: "Bree Serif", serif;
}

.projects .more a span {
  text-align: center;
}

.projects .more a:hover {
  background-color: white;
  color: black;
}

.blogs {
  height: 100%;
  background-color: white;
}

.blogs p {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  font-family: "Heebo", sans-serif;
}

.blogs .blogcard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.blogs .blogcard .cards {
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogs .blogcard .cards img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 5px gray;
          box-shadow: 0px 5px gray;
}

.blogs .blogcard .cards .title h1 {
  font-size: 20px;
  color: gray;
  text-align: start;
  padding: 10px;
}

.blogs .blogcard .cards .info p {
  height: 100%;
  font-size: 15px;
  text-align: start;
  color: #444141;
  padding: 5px;
  margin-bottom: 5px;
}

.blogs .blogcard .cards .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blogs .blogcard .cards .view a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

.blogs .blogcard .cards .inte p {
  font-size: 20px;
}

.blogs .more {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

.blogs .more a {
  height: 40px;
  width: 120px;
  margin: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-family: "Bree Serif", serif;
}

.blogs .more a span {
  text-align: center;
}

.navbottom {
  height: 100%;
}

.navbottom .details {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
}

.navbottom .details .logo img {
  border: 1px solid white;
  margin: 10px;
}

.navbottom .details .logo h3 {
  color: white;
}

.navbottom .details .logo p {
  padding-top: 10px;
  color: white;
  font-size: 18px;
}

.navbottom .details .posts h2 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
}

.navbottom .details .posts ul {
  list-style-type: none;
}

.navbottom .details .posts ul li {
  margin: 10px;
  color: white;
  font-size: 20px;
}

.navbottom .details .posts ul a {
  text-decoration: none;
}

.navbottom .details .social h2 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
}

.navbottom .details .social a {
  text-decoration: none;
  color: white;
}

.navbottom .details .social i {
  color: white;
  margin: 5px;
  font-size: 20px;
}

.navbottom .details .social i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navbottom .details .social .github_count h1 {
  color: white;
}

.navbottom .details .contactform h2 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
}

.navbottom .details .contactform form {
  background-color: white;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.navbottom .details .contactform form label {
  color: black;
  font-size: 20px;
  width: 100px;
}

.navbottom .details .contactform form input {
  height: 30px;
  border: 0px;
  border: 1px solid black;
  margin: 5px;
}

.navbottom .details .contactform form .submit {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 5px;
}

.navbottom .details .contactform form textarea {
  height: 50px;
  max-width: 220px;
  max-height: 120px;
  border: 1px solid black;
  margin: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .githubstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer .githubstats .repo {
  margin: 10px;
}

.footer .githubstats .repo span {
  font-size: 18px;
  font-weight: normal;
}

.footer .githubstats .gists {
  margin: 10px;
}

.footer .githubstats .gists span {
  font-size: 18px;
  font-weight: normal;
}

.footer .githubstats .follow {
  margin: 10px;
}

.footer .githubstats .follow span {
  font-size: 18px;
  font-weight: normal;
}

.footer p {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer p span {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .skilltoolcontainer .skills ul {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    place-items: center;
  }
  .skilltoolcontainer .skills ul li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: "Heebo", sans-serif;
  }
  .projects {
    height: 100%;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    place-items: center;
    padding: 0px;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    place-items: center;
    padding: 0px;
  }
  .navbottom .details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 860px) {
  .navbar {
    width: 100%;
    padding: 15px;
  }
  .navbar .right {
    padding: 0px;
  }
  .navbar .left {
    padding: 0px;
  }
  .intro {
    height: 100%;
  }
  .skilltoolcontainer .skills .programing {
    margin: 0px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #e6e6e6;
            box-shadow: 0px 0px 10px #e6e6e6;
    margin: 10px;
    padding: 10px;
  }
  .skilltoolcontainer .skills .programing .head {
    margin: 10px;
  }
  .skilltoolcontainer .skills .programing ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    list-style-type: none;
    place-items: center;
  }
  .skilltoolcontainer .skills .programing ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skilltoolcontainer .skills .programing ul li img {
    width: 25%;
    height: 25%;
  }
  .projects {
    padding: 0px;
    margin: 0px;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
    margin: 0px;
  }
  .projects .projectlist .card1 {
    padding: 0px;
    margin-bottom: 10px;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
  .navbottom {
    margin: 0px;
    padding: 0px;
  }
  .navbottom .details {
    margin-left: 50px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbottom .details .logo h3 {
    text-align: start;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .githubstats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    width: 100%;
    padding: 15px;
  }
  .navbar .right {
    padding: 0px;
  }
  .navbar .left {
    padding: 0px;
  }
  .intro {
    height: 100%;
  }
  .skilltoolcontainer .skills .programing {
    margin: 0px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #e6e6e6;
            box-shadow: 0px 0px 10px #e6e6e6;
    margin: 10px;
    padding: 10px;
  }
  .skilltoolcontainer .skills .programing .head {
    margin: 10px;
  }
  .skilltoolcontainer .skills .programing ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    list-style-type: none;
    place-items: center;
  }
  .skilltoolcontainer .skills .programing ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skilltoolcontainer .skills .programing ul li img {
    width: 25%;
    height: 25%;
  }
  .experience #experience {
    margin: 10px;
  }
  .experience #experience .card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience #experience .card .info .info_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .experience #experience .card .info .desc {
    width: 90%;
    margin-right: 5px;
  }
  .projects {
    padding: 0px;
    margin: 0px;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
    margin: 0px;
  }
  .projects .projectlist .card1 {
    padding: 0px;
    margin-bottom: 10px;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
  .navbottom {
    margin: 0px;
    padding: 0px;
  }
  .navbottom .details {
    margin-left: 50px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbottom .details .logo h3 {
    text-align: start;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .githubstats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */