@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merriweather+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: black;
  height: 45px;
  padding: 5px;
  position: fixed;
  -webkit-animation: 1s all ease-in-out forwards;
          animation: 1s all ease-in-out forwards;
  display: fixed;
}

.navbar .right {
  float: left;
  margin: 10px;
}

.navbar .right a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navbar .left {
  float: right;
  padding: 10px;
}

.navbar .left a {
  margin: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.container {
  height: 100vh;
}

.container .info {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  width: 100%;
  place-items: center;
}

.container .info .detail {
  margin-top: 80px;
  pointer-events: none;
}

.container .info .detail h1 {
  font-size: 60px;
  text-decoration: underline;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-animation: 1s slideIn ease-in-out forwards;
          animation: 1s slideIn ease-in-out forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-family: 'Heebo', sans-serif;
}

.container .info .detail p {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-animation: 1.5s Updown ease-in-out forwards;
          animation: 1.5s Updown ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
  color: white;
  font-family: 'Bree Serif', serif;
}

.container .info .detail ul {
  list-style-type: none;
  text-align: center;
  margin: 5px;
}

.container .info .detail ul li {
  display: inline;
  margin: 5px;
  font-size: 20px;
  color: white;
  font-family: 'Prompt', sans-serif;
}

.container .info .detail ul #web {
  -webkit-animation: 1.8s listdes ease-in-out forwards;
          animation: 1.8s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #divider {
  -webkit-animation: 2.3s divdes ease-in-out forwards;
          animation: 2.3s divdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #mobile {
  -webkit-animation: 2.1s listdes ease-in-out forwards;
          animation: 2.1s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail .btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .info .detail .btn .projects {
  margin: 10px;
  height: 42px;
  width: 120px;
  border-radius: 10px;
  border: solid transparent;
  background-color: #6cd8ce;
  color: black;
  font-size: 20px;
  cursor: pointer;
  -webkit-animation: 2.3s Btnupdown ease-in-out forwards;
          animation: 2.3s Btnupdown ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@-webkit-keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.container .downarrow {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .downarrow p {
  color: white;
  opacity: 0;
  -webkit-animation: 2.2s arrow ease-in-out infinite;
          animation: 2.2s arrow ease-in-out infinite;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.skilltoolcontainer {
  background-color: white;
}

.skilltoolcontainer .skills img {
  width: 70px;
  height: 70px;
}

.skilltoolcontainer .skills #skill {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
}

.skilltoolcontainer .skills ul {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-top: 25px;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  grid-column-gap: -150px;
}

.skilltoolcontainer .skills ul li {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  cursor: auto;
}

.skilltoolcontainer .skills ul li p {
  cursor: context-menu;
}

.skilltoolcontainer .experience {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skilltoolcontainer .experience p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
}

.skilltoolcontainer .experience #experience {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 200px;
}

.skilltoolcontainer .experience #experience .card {
  width: 30%;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.skilltoolcontainer .experience #experience .card .company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.skilltoolcontainer .experience #experience .card .company p {
  font-size: 20px;
}

.skilltoolcontainer .experience #experience .card .company #year {
  margin-top: 0.3em;
  font-size: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
}

.skilltoolcontainer .experience #experience .card .details p {
  font-size: 20px;
  text-align: start;
}

.projects {
  height: 100%;
  background-color: black;
}

.projects p {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: 'Heebo', sans-serif;
}

.projects .projectlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.projects .projectlist .card1 {
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px white;
          box-shadow: 5px 5px white;
}

.projects .projectlist .card1 img {
  width: 100%;
  height: 100%;
}

.projects .projectlist .card1 .info {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
}

.projects .projectlist .card1 .info p {
  font-size: 15px;
  color: black;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
  pointer-events: none;
}

.projects .projectlist .card1 .info #title {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: gray;
}

.projects .projectlist .card1:hover {
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
  -webkit-animation: 1s rotate ease-in-out forwards;
          animation: 1s rotate ease-in-out forwards;
}

.projects .projectlist .card1:hover .info {
  opacity: 1;
  height: 200px;
}

.projects .projectlist .card1:hover .info p {
  white-space: unset;
  overflow: visible;
  text-align: start;
  font-size: 15px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(25deg);
            transform: rotateY(25deg);
  }
  30% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  40% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  100% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  10% {
    -webkit-transform: rotateY(25deg);
            transform: rotateY(25deg);
  }
  30% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  40% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  100% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
}

.projects .more {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

.projects .more a {
  height: 40px;
  width: 120px;
  margin: 10px;
  background-color: #079fb1;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-family: 'Bree Serif', serif;
}

.projects .more a span {
  text-align: center;
}

.projects .more a:hover {
  background-color: white;
  color: black;
}

.blogs {
  height: 100%;
  background-color: white;
}

.blogs p {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  font-family: 'Heebo', sans-serif;
}

.blogs .blogcard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.blogs .blogcard .cards {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.blogs .blogcard .cards img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 5px gray;
          box-shadow: 0px 5px gray;
}

.blogs .blogcard .cards .title h1 {
  font-size: 20px;
  color: gray;
  text-align: start;
  padding: 10px;
}

.blogs .blogcard .cards .info p {
  height: 100%;
  font-size: 15px;
  text-align: start;
  color: #444141;
  padding: 5px;
  margin-bottom: 5px;
}

.blogs .blogcard .cards .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blogs .blogcard .cards .view a {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px;
  border-bottom-left-radius: 10px;
}

.blogs .blogcard .cards .inte p {
  font-size: 20px;
}

.blogs .more {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

.blogs .more a {
  height: 40px;
  width: 120px;
  margin: 10px;
  background-color: red;
  color: white;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  font-family: 'Bree Serif', serif;
}

.blogs .more a span {
  text-align: center;
}

.blogs .more a:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1050px) {
  .skilltoolcontainer .skills ul {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    place-items: center;
  }
  .skilltoolcontainer .skills ul li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
  }
  .projects {
    height: 100%;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    place-items: center;
    padding: 0px;
  }
  .projects .projectlist .card1:hover {
    display: contents;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  .skilltoolcontainer .skills ul {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    place-items: center;
    padding: 0px;
  }
  .skilltoolcontainer .skills ul li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
  .projects .projectlist .card1:hover {
    display: contents;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
}

@media screen and (max-width: 450px) {
  .skilltoolcontainer .skills ul {
    padding: 0;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .skilltoolcontainer .skills ul li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
  }
  .projects .projectlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
  .projects .card1:hover {
    display: contents;
  }
  .blogs .blogcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    place-items: center;
    padding: 0px;
  }
}
/*# sourceMappingURL=index.css.map */