@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merriweather+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  scroll-behavior: smooth;
}

.home {
  display: none;
}

.header {
  float: right;
  padding: 20px;
}

.header a {
  margin: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.container {
  height: 100%;
  margin-bottom: 20px;
}

.container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .info .detail {
  pointer-events: none;
}

.container .info .detail h1 {
  font-size: 60px;
  text-decoration: underline;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-animation: 1s slideIn ease-in-out forwards;
          animation: 1s slideIn ease-in-out forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-family: "Heebo", sans-serif;
}

.container .info .detail p {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-animation: 1.5s Updown ease-in-out forwards;
          animation: 1.5s Updown ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
  color: white;
  font-family: "Bree Serif", serif;
}

.container .info .detail ul {
  list-style-type: none;
  text-align: center;
  margin: 5px;
}

.container .info .detail ul li {
  display: inline;
  margin: 5px;
  font-size: 20px;
  color: #acaaaa;
  font-family: "Poppins", sans-serif;
}

.container .info .detail ul #web {
  -webkit-animation: 1.8s listdes ease-in-out forwards;
          animation: 1.8s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #divider {
  color: white;
  -webkit-animation: 2.3s divdes ease-in-out forwards;
          animation: 2.3s divdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail ul #mobile {
  -webkit-animation: 2.1s listdes ease-in-out forwards;
          animation: 2.1s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container .info .detail .btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .info .detail .btn .projects {
  margin: 10px;
  height: 42px;
  width: 120px;
  border-radius: 10px;
  border: solid transparent;
  background-color: #6cd8ce;
  color: black;
  font-size: 20px;
  cursor: pointer;
  -webkit-animation: 2.3s Btnupdown ease-in-out forwards;
          animation: 2.3s Btnupdown ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@-webkit-keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.container1 {
  height: 100%;
  margin-bottom: 20px;
}

.container1 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container1 .info .detail {
  pointer-events: none;
}

.container1 .info .detail h1 {
  font-size: 60px;
  text-decoration: underline;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-animation: 1s slideIn ease-in-out forwards;
          animation: 1s slideIn ease-in-out forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-family: "Heebo", sans-serif;
}

.container1 .info .detail p {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-animation: 1.5s Updown ease-in-out forwards;
          animation: 1.5s Updown ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
  color: white;
  font-family: "Bree Serif", serif;
}

.container1 .info .detail ul {
  list-style-type: none;
  text-align: center;
  margin: 5px;
}

.container1 .info .detail ul li {
  display: inline;
  margin: 5px;
  font-size: 20px;
  color: #acaaaa;
  font-family: "Poppins", sans-serif;
}

.container1 .info .detail ul #web {
  -webkit-animation: 1.8s listdes ease-in-out forwards;
          animation: 1.8s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container1 .info .detail ul #divider {
  color: white;
  -webkit-animation: 2.3s divdes ease-in-out forwards;
          animation: 2.3s divdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container1 .info .detail ul #mobile {
  -webkit-animation: 2.1s listdes ease-in-out forwards;
          animation: 2.1s listdes ease-in-out forwards;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}

.container1 .info .detail .btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container1 .info .detail .btn .projects {
  margin: 10px;
  height: 42px;
  width: 120px;
  border-radius: 10px;
  border: solid transparent;
  background-color: #6cd8ce;
  color: black;
  font-size: 20px;
  cursor: pointer;
  -webkit-animation: 2.3s Btnupdown ease-in-out forwards;
          animation: 2.3s Btnupdown ease-in-out forwards;
  opacity: 0;
}

@keyframes slideIn {
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    text-decoration: none;
  }
}

@keyframes Updown {
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes listdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes divdes {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Btnupdown {
  80% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.about-me {
  height: 100%;
  margin-bottom: 20px;
}

.about-me .aboutme {
  font-family: "Akaya Kanadaka", cursive;
}

.about-me .ab-name {
  font-family: "Poppins", sans-serif;
}

.about-me .ab-desc {
  font-family: "Poppins", sans-serif;
}

.skills {
  height: 100%;
}

.skills .skill {
  font-family: "Akaya Kanadaka", cursive;
}

.skills .sk-name {
  font-family: "Poppins", sans-serif;
}

.Blogs {
  font-family: "Akaya Kanadaka", cursive;
}

.experience {
  height: 100%;
}

.experience .headline {
  font-family: "Akaya Kanadaka", cursive;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .githubstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer .githubstats .repo {
  margin: 10px;
}

.footer .githubstats .repo span {
  font-size: 18px;
  font-weight: normal;
}

.footer .githubstats .gists {
  margin: 10px;
}

.footer .githubstats .gists span {
  font-size: 18px;
  font-weight: normal;
}

.footer .githubstats .follow {
  margin: 10px;
}

.footer .githubstats .follow span {
  font-size: 18px;
  font-weight: normal;
}

.footer p {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer p span {
  font-weight: bold;
}

.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1 .githubstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer1 .githubstats .repo {
  margin: 10px;
}

.footer1 .githubstats .repo span {
  font-size: 18px;
  font-weight: normal;
}

.footer1 .githubstats .gists {
  margin: 10px;
}

.footer1 .githubstats .gists span {
  font-size: 18px;
  font-weight: normal;
}

.footer1 .githubstats .follow {
  margin: 10px;
}

.footer1 .githubstats .follow span {
  font-size: 18px;
  font-weight: normal;
}

.footer1 p {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer1 p span {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .navbottom .details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 860px) {
  .navbar {
    width: 100%;
    padding: 15px;
  }
  .navbar .right {
    padding: 0px;
  }
  .navbar .left {
    padding: 0px;
  }
  .navbottom {
    margin: 0px;
    padding: 0px;
  }
  .navbottom .details {
    margin-left: 50px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbottom .details .logo h3 {
    text-align: start;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .githubstats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    width: 100%;
    padding: 15px;
  }
  .navbar .right {
    padding: 0px;
  }
  .navbar .left {
    padding: 0px;
  }
  .navbottom {
    margin: 0px;
    padding: 0px;
  }
  .navbottom .details {
    margin-left: 50px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbottom .details .logo h3 {
    text-align: start;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .githubstats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */